<div>
    <a href="/">Home</a> |
    <a href="/contact">Contact</a> |
    <a href="/writeText">Write Text</a> 
    <!-- <a href="/jquery/">Get text</a> |
    <a href="/jquery/">Get text</a> | -->
    </div>