<!DOCTYPE html>
<html>
    <head>
        <title>Test - Home</title>
        <link href="content/css/site.css" rel="stylesheet" type="text/css"/> 
    </head>
    <body >
        <%- include('partials/partial.ejs')  %>

        <h1 >You are at Contact page</h1>
        <p >Contact page contains alot of informations</p>
        <p><strong>Name : </strong><%= data.name %></p>
        <p><strong>Age : </strong><%= data.age %></p>
        <p><strong>Job : </strong><%= data.job %></p>
    </body>
</html>