<!DOCTYPE html>
<html>

<head>
    <title>Test - Home</title>
    <link href="content/css/site.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <%- include('partials/partial.ejs')  %>
    <h1>You are at home page</h1>
    <p>Home page contains alot of informations</p>
</body>

</html>